<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    td {
    border: 1px solid #000;
    }

     tr td:last-child {
    width: 1%;
    white-space: nowrap;
    }
    </style>
</head>
<body>
    <div class="container">
        <h1>Project-Car Invetory Page</h1>
        <table styles="width:100%;">
            <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                    <th >Task -or- Item</th>
                    <th>Work done by -or- Vendor</th>
                    <th>Cost $</th>
                    <th>Time Frame (Days)</th>
                    <th>Description</th>
                    <th>Bought</th>
                    <th>Action</th>
                </tr>
                <tr>
                <td>
                    <a href="/projectmgt/<%=data[i].id%>">
                    <%=data[i].task_or_item; %>
                </a>
            </td>
            <td> <%=data[i].work_done_by_or_vendor; %></td>
            <td> <%=data[i].cost; %></td>
            <td> <%=data[i].time_frame; %></td>
            <td> <%=data[i].description; %></td>
            <td><%=data[i].bought; %></td>
            <td>
            <a href="/projectmgt/<%=data[i].id%>/edit">Edit</a>
            <form action="/projectmgt/<%=data[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="delete"/>
            </form>
             </td>
            </tr>

            <% } %>
        </table>
        <nav>
            <a class="button" href="/projectmgt/new">Create a New Task</a>
        </nav>
    </div>
</body>
</html>